.app{
    width: 500px;
    margin: 0 auto;
    padding: 12px;
}

.app__header {
    text-align: center;
}

.app__login {
    display:flex;
}

.app__fb-button{
    margin-left: auto;
}

.app__not-logged {
    text-align: center;
}

.app-paper {
    padding: 20px;
}