.todolist-task {
    width: 250px;
    border: 1px solid black;
    margin-left: auto;
    padding: 10px;
}

.todolist-task-container {
    display:flex;
    padding: 10px;
    font-size: 10px;
}

.todolist-list {
    display: block;
}

.todolist-list__title {
    padding: 0 12px;
}

.todolist-list__element {
    display: flex;
    justify-content: space-between;
    padding: 2px 8px;
    cursor: pointer;
}

.todolist-list__element:hover {
    background-color: rgb(205, 217, 228);
}